## EDA preprocesado

In [211]:
# Importamos librerias para hacer el analisis exploratorio de datos

import pandas as pd
import ast 
import matplotlib as plt
import numpy as np
import re
from datetime import datetime

In [212]:
# Realizamos la lectura de los csv proporcionados

df_movies = pd.read_csv(r'C:\Users\rubio\Documents\SoyHenry\Proyecto_individual_2\Dataset\movies_dataset.csv')
df_credits = pd.read_csv(r'C:\Users\rubio\Documents\SoyHenry\Proyecto_individual_2\Dataset\credits.csv')

C:\Users\rubio\AppData\Local\Temp\ipykernel_59236\3402681770.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv(r'C:\Users\rubio\Documents\SoyHenry\Proyecto_individual_2\Dataset\movies_dataset.csv')

In [213]:
# Eliminamos las columnas que no seran utilizadas

df_movies.drop(columns={'homepage', 'video', 'imdb_id', 'adult', 'original_title', 'poster_path'}, inplace=True)

In [214]:
# Mostramos las 5 primeras filas para tener una idea de como esta formado el dataset

df_movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [215]:
# Rellenamos los valores nulos con 0 para las columnas budget y revenue

df_movies['revenue'].fillna(value=0, inplace=True)
df_movies['budget'].fillna(value=0, inplace=True)

C:\Users\rubio\AppData\Local\Temp\ipykernel_59236\1272587453.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_movies['revenue'].fillna(value=0, inplace=True)
C:\Users\rubio\AppData\Local\Temp\ipykernel_59236\1272587453.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_movies['budget'].fillna(value=0, inplace=True)

In [216]:
# Revisamos si los nulos fueron remplazados correctamente

print(df_movies['revenue'].isna().sum())
print(df_movies['budget'].isna().sum())

0
0

In [217]:
# Luego procedemos a desanidar los datos de la columna 'belongs_to_collection' y concatenandolo con el dataframe sin dicha columna

#drop = df_movies.drop(columns={'belongs_to_collection'})
explode = df_movies['genres'].explode()
norm = pd.json_normalize(explode).reset_index(drop=True)

df_movies = pd.concat([df_movies, norm], axis=1)

In [218]:
df_movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [219]:
def explode_dict(value,key):
    if pd.isna(value):
        return np.nan
    try:
        dicc = ast.literal_eval(value)
        if isinstance(dicc, dict):
            return dicc.get(key, np.nan)  # Extraemos 'name' que es la clave que necesitamos
        else:
            return np.nan
    except (ValueError, SyntaxError):
        return np.nan

df_movies['collection'] = df_movies['belongs_to_collection'].apply(explode_dict, key='name')
df_movies.drop(columns={'belongs_to_collection'}, inplace=True)

In [ ]:
def explode_list(value, key):
    if pd.isna(value):
        return np.nan
    try:
        lis = ast.literal_eval(value)
        if isinstance(lis, list):
            names = [item.get(key) for item in lis if isinstance(item, dict)]
            return ', '.join(names) if names else np.nan
        else:
            return np.nan
    except (ValueError, SyntaxError):
        return np.nan

df_movies['generos'] = df_movies['genres'].apply(explode_list,key='name')
df_movies.drop(columns={'genres'}, inplace=True)

In [221]:
#ast.literal_eval(df_movies['production_countries'][0])
df_movies['country'] = df_movies['production_countries'].apply(explode_list, key='name')
df_movies.drop(columns={'production_countries'}, inplace=True)

In [222]:
#df_movies['production_companies'][0]
df_movies['company'] = df_movies['production_companies'].apply(explode_list, key='name')
df_movies.drop(columns={'production_companies'},inplace=True)

In [223]:
df_movies['language'] = df_movies['spoken_languages'].apply(explode_list, key='name')
df_movies.drop(columns={'spoken_languages'}, inplace=True)

In [224]:
type(df_movies['budget'][0])

str

In [225]:
df_movies['revenue'].fillna(0)
df_movies['budget'].fillna(0)

0        30000000
1        65000000
2               0
3        16000000
4               0
           ...
45461           0
45462           0
45463           0
45464           0
45465           0
Name: budget, Length: 45466, dtype: object

In [226]:
# Calculamos el retorno de la inversion (ROI) con las columnas budget (B) y revenue (R)
# ROI = R / B

def ROI(budget, revenue):
    
    try:
        b = int(budget)
        r = revenue
        if b == 0 or r == 0:
            return 0
        else:
            roi = r / b
            return roi
    except (ValueError, SyntaxError):
        return np.nan
        

df_movies['return'] = df_movies.apply(lambda row: ROI(row['budget'], row['revenue']), axis=1)

In [227]:
df_movies.dropna(subset=['release_date'], inplace=True)

In [230]:
def format_date(column):
    try:
        date = datetime.strptime(column, '%Y-%m-%d')
        return date
    except(ValueError, TypeError):
        return None

In [228]:
df_movies['release_date'] = df_movies['release_date'].apply(format_date)
df_movies['release_date']

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45379, dtype: datetime64[ns]

In [250]:
def only_year(date):
    year = date.year
    return year

df_movies['release_year'] = df_movies['release_date'].apply(only_year)

In [253]:
df_movies['popularity'] = pd.to_numeric(df_movies['popularity'], errors='coerce')

In [256]:
type(df_movies['popularity'][0])

numpy.float64

In [257]:
df_movies.to_parquet('df_movies', engine='pyarrow')